<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Route</title>
</head>
<body>
    <h1>edit your Post</h1>

    <p>post id: <%=post.id %></p>
    <p>post username: <%=post.username %></p>

    <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
        <textarea name="content"><%= post.content %></textarea>
        <button type="submit">Update</button>
    </form>

</body>
</html>