<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fetch post by id</title>
</head>
<body>
    <h1>fetch post by id</h1>
    <div class="id_post">
        <p><%= post.id %></p>
    </div>
</body>
</html>